<h2>Review Cart and Submit Order for Payment</h2>

<br>

<table class="table">

  <tr>
    <th>Product Name</th>
    <th>Unit Price</th>
    <th>State Quantity You Like to Order</th>
    <th></th>
  </tr>

<form class="navbar-form navbar-left" method="POST" action="/customers/cart">

<% cartData.productOrdered.forEach(function(products) { %>
  <tr>
      <td> <%= products.productName %> </td>
      <td> <%= products.unitPrice %> </td>
      <td>
        <input type="number" name="quantityOrdered" min="0" placeholder="Quantity to order">
      </td>
      <td> <a href="/customers/productPage">View Product Description</a> </td>
  </tr>
  <input type="hidden" name="productId" value=<%=products._id%>>
<% }) %>

  <tr> </tr>
  <tr> <input type="submit" value='Submit Order and Make Payment'> </tr>

</form>

</table>
