<h2>Login Page</h2>
<form class="customer_login" method="POST" action="/login">

  <div class="row">

      <div class="login_page">
        <label for="email">Email: </label>
        <input type="text" name="newCustomer[local][email]" id="email" placeholder="Your email" class="u-full-width">
      </div>

      <div class="login_page">
        <label for="password">Password: </label>
        <input type="text" name="newCustomer[local][password]" id="password" placeholder="Your password" class="u-full-width">
      </div>

    <input type="submit" value='Login'>

  </div>

</form>
