<h2>Introduction</h2>

<div class="container">

  <img src="/img/buy.png" alt="things to buy" height="400" width="950">

  <a href="/customers/product"> <h3>***Shop HERE to shop! ****<h3> </a>

</div>
