<h2>Login Page</h2>

<% if(message.length > 0) { %>
  <h3>Flash Message Found</h3>
  <div class="FlashMessage">
    <%= message %>
  </div>
<% } %>

<form class="login" method="POST" action="/customers/login">

  <div class="row">

      <div class="login_page">
        <label for="email">Email: </label>
        <input type="text" name="customer[local][email]" id="email" placeholder="Your email" class="u-full-width">
      </div>

      <div class="login_page">
        <label for="password">Password: </label>
        <input type="text" name="customer[local][password]" id="password" placeholder="Your password" class="u-full-width">
      </div>

    <br>

    <input type="submit" value='Login'>

  </div>

</form>
