<h2>New Customer Form</h2>
<form class="new_customer">

  <div class="row">

    <div class="customer_form">
      <input type="text" name="customer[firstname]" id="customer_firstname" placeholder="Your First Name" class="u-full-width">
    </div>



    <input type="submit" value='Save New Customer'>

  </div>

  <ul id="all-user-list">
  <% allUsers.forEach(function(user) { %>
    <li>
        // <%= user.name %><br>
        // <%= user.email %><br>
        // <%= user.password %>
    </li>
  <% }) %>
  </ul>
</form>
