<h1>Online Product Shopping Page </h1>
<br>

<table class="table">

  <tr>
    <th>Product Name</th>
    <th>Unit Price</th>
    <th>State Quantity You Like to Order</th>
    <th></th>
  </tr>

<form class="navbar-form navbar-left" method="POST" action="/customers/cart">

<% allProducts.forEach(function(products) { %>
  <tr>
      <td> <%= products.productName %> </td>
      <td> <%= products.unitPrice %> </td>
      <td>
        <input type="number" name="quantityOrdered" placeholder="Quantity to order">
      </td>
      <td> <a href="/customers/productPage">View Product Description</a> </td>
  </tr>
  <input type="hidden" name="productId" value=<%=products._id%>>
<% }) %>

  <tr> </tr>
  <tr> <input type="submit" value='Save My Order to Cart'> </tr>

</form>

</table>

 <br>
 <br>
 <a href="/customers/logout">Logout</a>
