<h2>Search Results</h2>

<table class="table">

  <tr>
    <th>Product Name</th>
    <th>Unit Price</th>
    <th>Quantity to Order</th>
    <th></th>
  </tr>

<form class="navbar-form navbar-left" method="POST" action="/customers/cart">

<% foundProducts.forEach(function(products) { %>
  <tr>
      <td> <%= products.productName %> </td>
      <td> <%= products.unitPrice %> </td>
      <td>
        <input type="number" name="quantityOrdered" min="0" placeholder="Quantity to order">
      </td>
      <td> <a href="/customers/productpage">View Product Description</a> </td>
  </tr>
  <input type="hidden" name="productId" value=<%=products._id%>>
<% }) %>

<tr> </tr>
<tr> <input type="submit" value='Save My Order to Cart'> </tr>

</form>

</table>
